[submodule "cpp-checker/cppcheck"]
	path = cpp-checker/cppcheck
	url = https://github.com/danmar/cppcheck.git
[submodule "go-checker/GFuzz"]
	path = go-checker/GFuzz
	url = https://github.com/Chain-Fox/GFuzz
[submodule "go-checker/GCatch"]
	path = go-checker/GCatch
	url = https://github.com/Chain-Fox/GCatch
[submodule "solidity-checker/slither"]
	path = solidity-checker/slither
	url = https://github.com/Chain-Fox/slither
[submodule "rust-checker/dynamic/ERASan"]
	path = rust-checker/dynamic/ERASan
	url = https://github.com/Chain-Fox/ERASan
[submodule "Cocoon-implementation"]
	path = Cocoon-implementation
	url = git@github.com:Chain-Fox/Cocoon-implementation.git
[submodule "rust-checker/static/MIRAI"]
	path = rust-checker/static/MIRAI
	url = https://github.com/Chain-Fox/MIRAI
[submodule "rust-checker/static/RAPx"]
	path = rust-checker/static/RAPx
	url = https://github.com/Chain-Fox/RAPx
[submodule "rust-checker/static/Rudra"]
	path = rust-checker/static/Rudra
	url = https://github.com/Chain-Fox/Rudra
[submodule "rust-checker/verifier/kani"]
	path = rust-checker/verifier/kani
	url = https://github.com/model-checking/kani.git
[submodule "rust-checker/dynamic/shuttle"]
	path = rust-checker/dynamic/shuttle
	url = https://github.com/Chain-Fox/shuttle
[submodule "integration/github-ci-checker"]
	path = integration/github-ci-checker
	url = https://github.com/Chain-Fox/os-checker
[submodule "integration/local-checker"]
	path = integration/local-checker
	url = https://github.com/Chain-Fox/os-checker-local
[submodule "solidity-checker/aderyn"]
	path = solidity-checker/aderyn
	url = https://github.com/Chain-Fox/aderyn.git
[submodule "rust-checker/static/solana-lints"]
	path = rust-checker/static/solana-lints
	url = https://github.com/Chain-Fox/solana-lints.git
[submodule "solana-program-analyzer"]
	path = solana-program-analyzer
	url = https://github.com/Chain-Fox/solana-program-analyzer
[submodule "frontend/chain-fox-frontend"]
	path = frontend/chain-fox-frontend
	url = https://github.com/Chain-Fox/chain-fox-frontend
[submodule "shell-checker/shell-checker/shellcheck"]
	path = shell-checker/shell-checker/shellcheck
	url = https://github.com/Chain-Fox/shellcheck
[submodule "rust-checker/static/vrust-open-source"]
	path = rust-checker/static/vrust-open-source
	url = https://github.com/Chain-Fox/vrust-open-source
[submodule "cpp-checker/cbmc"]
	path = cpp-checker/cbmc
	url = https://github.com/Chain-Fox/cbmc
[submodule "checkers/solidity-checker/aderyn"]
	path = checkers/solidity-checker/aderyn
	url = https://github.com/Chain-Fox/aderyn
[submodule "checkers/solana-checker/trident"]
	path = checkers/solana-checker/trident
	url = https://github.com/Chain-Fox/trident
[submodule "checkers/rust-checker/cargo-check-deadlock"]
	path = checkers/rust-checker/cargo-check-deadlock
	url = https://github.com/Chain-Fox/cargo-check-deadlock
[submodule "checkers/rust-checker/lockbud"]
	path = checkers/rust-checker/lockbud
	url = https://github.com/Chain-Fox/lockbud
[submodule "checkers/solidity-checker/wake"]
	path = checkers/solidity-checker/wake
	url = https://github.com/Chain-Fox/wake
[submodule "checkers/solana-checker/solana-lints"]
	path = checkers/solana-checker/solana-lints
	url = https://github.com/Chain-Fox/solana-lints
[submodule "checkers/solidity-checker/slither"]
	path = checkers/solidity-checker/slither
	url = https://github.com/Chain-Fox/slither
[submodule "checkers/rust-checker/RAPx"]
	path = checkers/rust-checker/RAPx
	url = https://github.com/Chain-Fox/RAPx
[submodule "checkers/rust-checker/AtomVChecker"]
	path = checkers/rust-checker/AtomVChecker
	url = https://github.com/AtomVChecker/rust-atomic-study
[submodule "checkers/rust-checker/shuttle"]
	path = checkers/rust-checker/shuttle
	url = https://github.com/Chain-Fox/shuttle
[submodule "checkers/solana-checker/CertSBF"]
	path = checkers/solana-checker/CertSBF
	url = https://github.com/Chain-Fox/CertSBF
[submodule "checkers/near-checker/rustle"]
	path = checkers/near-checker/rustle
	url = https://github.com/Chain-Fox/rustle.git
[submodule "checkers/cpp-checker/cppcheck"]
	path = checkers/cpp-checker/cppcheck
	url = https://github.com/Chain-Fox/cppcheck
[submodule "checkers/cpp-checker/cpplint"]
	path = checkers/cpp-checker/cpplint
	url = https://github.com/Chain-Fox/cpplint
[submodule "checkers/go-checker/go-critic"]
	path = checkers/go-checker/go-critic
	url = https://github.com/Chain-Fox/go-critic
[submodule "checkers/go-checker/GFuzz"]
	path = checkers/go-checker/GFuzz
	url = https://github.com/Chain-Fox/GFuzz
[submodule "checkers/go-checker/GCatch"]
	path = checkers/go-checker/GCatch
	url = https://github.com/Chain-Fox/GCatch
[submodule "checkers/rust-checker/ERASan"]
	path = checkers/rust-checker/ERASan
	url = https://github.com/Chain-Fox/ERASan
[submodule "frontend/0g-bug-tracker"]
	path = frontend/0g-bug-tracker
	url = https://github.com/Chain-Fox/0g-bug-tracker.git
